<% provide :title, t(".title") %>

<h1><%= t ".subtitle" %></h1>

<%= paginate @users, theme: "twitter-bootstrap-3" %>

<ul class="users">
  <%= render @users %>
</ul>

<div class="d-flex justify-content-center mt-3">
  <%= paginate @users %>
</div>
