<header class = "navbar navbar-fixed-top navbar-inverse" >
  <div class = "container" >
    <%= link_to "sample app", "#", id: "logo" %>
    <nav>
      <ul class = "nav navbar-nav navbar-right" >
        <li><%= link_to t(".text"), root_path %></li>
        <li><%= link_to t(".text1"), help_path %></li>
        <li><%= link_to t(".text2"), signup_path %></li>
      </ul>
    </nav>
  </div>
</header>
